{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit page
{% endblock %}

{% block body %}
    <h1>edit page</h1>

    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <lable> Title: </lable>
        <input type="text" name="title" placeholder="Enter a title" value="{{ title }}">
        <br/>
        <label> Markdown content:</label>
        <br/>
        <textarea name="content"> {{ content }}</textarea>
        <br/>
        <input type="submit" value="save">

    </form>

{% endblock %}